li{
    color: #333;
    padding: 15px;
    background-color: rgb(176, 184, 184);
    list-style: none;
    margin-bottom: 15px;
    border-radius: 10px;
    width: fit-content;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}